
.messages {
    margin: 20px 0;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}

.alert-success {
    background-color: #4CAF50; /* أخضر */
}

.alert-info {
    background-color: #2196F3; /* أزرق */
}

.alert-warning {
    background-color: #ff9800; /* برتقالي */
}

.alert-error {
    background-color: #f44336; /* أحمر */
}

/* تنسيق قائمة الوجبات */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #45a049;
}

ul {
    list-style-type: none; /* إزالة النقاط من القائمة */
    padding: 0;
}

li {
    background: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* تنسيق النموذج */
form {
    background-color: #abdca7; /* لون خلفية فاتح للنموذج */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* مسافة من الأعلى */
}

/* تنسيق أزرار النموذج */
.btn {
    background-color: #4CAF50; /* أخضر */
    color: white; /* لون النص أبيض */
    border: none; /* إزالة الحدود */
    padding: 10px 15px; /* حشو داخلي */
    text-align: center; /* محاذاة النص في المنتصف */
    text-decoration: none; /* إزالة التسطير */
    display: inline-block; /* السماح للزر بالتفاعل كعنصر كتلي */
    font-size: 16px; /* حجم الخط */
    margin: 10px 0; /* مسافة من الأعلى والأسفل */
    border-radius: 5px; /* زوايا مستديرة */
    cursor: pointer;
}

.btn:hover {
    background-color: #1b531e; /* لون الزر عند المرور */
}